* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'gotham-book', sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

input:focus {
    outline: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    width: 100%;
}

.header-top {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.header-top > div {
    width: 25%;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 85%;
}

#wp {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wp > div:first-child {
    font-size: 1.8rem;
}

#wp > div:first-child a {
    color: #474747;
}

#wp > div:last-child a {
    color: #474747;
    margin-left: 0.2rem;
}

#search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-box > div {
    position: relative;
    display: inline
}

#search-box input {
    width: 100%;
    border: 0;
    border-radius: 15px;
    padding: 0.3rem 1.5rem 0.3rem 0.5rem;
    border: 2px solid #636363;
    position: relative;
}

.dp-none {
    display: none !important;
}

#search-box i {
    position: absolute;
    color: #636363;
    top: 7px;
    margin: 0 auto;
    right: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.icons-left {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 60%
}

.icons-left > div {
    margin-left: 0.7rem;
}

.icons-left > div:first-child {
    margin-left: 0rem;
}

.icons-left div i {
    background: #434343;
    padding: 0.3rem;
    border-radius: 100%;
    color: #fff;
}

.languages {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.languages > div:first-child {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid #DFDFDF;
}

.languages div img {
    object-fit: cover;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.languages .dp-content {
    display: none;
    position: absolute;
    padding: 0.5rem 1rem;
    right: -18px;
}

.dp-content div {
    width: 25px;
    margin-bottom: 0.5rem;
    height: 25px;
    border-radius: 15px;
    border: 1px solid #DFDFDF;
    cursor: pointer;
}

.languages:hover .dp-content {
    display: block;
}

nav {
    width: 100%;
    background: #16BDCF;
    z-index: 9999;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav .container > div {
    display: flex;
    justify-content: space-between;
}

nav a {
    display: inline-block;
    padding: 1.2rem;
}

nav a:first-child {
    padding-left: 0;
}

.burger-menu {
    display: none;
    visibility: hidden;
}

.btn-burger {
    width: 50px;
    height: 6px;
    background: gray;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(244, 244, 244, .2);
    /* transition: all .5s ease-in-out; */
}

.btn-burger::before,
.btn-burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: gray;
    border-radius: 5px;
    box-shadow: 0 2px 5px argba(244, 244, 244, .2);
    transition: all .5s ease-in-out;
}

.btn-burger::before {
    transform: translateY(-16px);
}

.btn-burger::after {
    transform: translateY(16px);
}

#nav-img {
    display: none;
}

.box {
    /* position: absolute;
    /* width: 100% !important;
    height: 100% !important; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box > div {
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    color: #FFFFFF;
    margin-bottom: 5rem;
}

.box > div > div:first-child {
    font-size: 2.5em;
    height: 25%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.box > div > div:first-child h1 {
    font-weight: normal;
}

.buttons-box {
    display: flex;
    justify-content: center;
    height: 20%;
    align-items: center;
}

.buttons-box div a:hover {
    background-color: rgba(22,189,207,0.7);
}

.buttons-box div a {
    background-color: #fff;
    color: #000;
    opacity: 0.8;
    margin-left: 1rem;
    margin-right: 1rem;
}

.buttons-box a {
    border: 2px solid #fff;
    border-radius: 25px;
}

.buttons-box a {
    padding: 0.6rem 5rem;
}

.box-text {
    display: flex;
    align-items: center;
    width: 20%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
}

.slick-next {
    right: 15px !important;
    color: #fff;
}

.slick-prev {
    left: 15px !important;
    color: #fff !important;
    z-index: 1;
}

.box img {
    width: 100%;
    filter: brightness(70%);

}


@media (max-width : 1110px) {
    .container {
        max-width: 768px;
    }

    .box-text {
        width: 40%;
        font-size: 1em;
    }

    .box > div > div:first-child {
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
/* 
    #logo {
        display: none;
    } */

    #nav-items {
        position: fixed;
        left: -100%;
        top: 130px;
        gap: 0;
        flex-direction: column;
        background: #DFEBF3;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        /* overflow: scroll; */
        z-index: 9999;
    }

    #nav-items.active {
        left: 0;
        height: 79%;
        background: blue;
        z-index: 9999;
    }

    .burger-menu {
        visibility: visible;
        display: block;
        position: absolute;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .burger-menu.open .btn-burger {
        transform: translate(-50px);
        background: transparent;
        box-shadow: none;
    }

    .burger-menu.open .btn-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .burger-menu.open .btn-burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    nav {
        height: 80px;
        z-index: 9999;
        
    }

    nav.scroll {
        top: 0;
        position: fixed;
    }

    #nav-items.scroll {
        top: 80px !important;
        height: 88% !important;
    }

    #wp {
        font-size: 0.8em;
    }

    /* #search-box {
        width: 50%;
    } */

    .dp-none-header {
        display: none !important;
    }

    #search-box > div {
        width: 60%;
    }

    .dp-none {
        display: flex !important;
        margin-bottom: 0.5rem;
    }
    
    nav a:first-child {
        padding-left: 1.2rem;
    }

    .box > div {
        margin-bottom: 2rem
    }

    .box > div > div:first-child {
        font-size: 1.2em;
    }

    .box-text {
        margin: 0.5rem;
        width: 60%;
        font-size: 0.8em;
    }

    @media (max-width : 659px) {
        #nav-items {
            top: 115px;
        }

        #nav-items.active {
            height: 82%;
        }
    }
}

@media (max-width : 482px) {

    #wp > div:first-child {
        font-size: 1rem !important;
    }

    #wp > div:last-child a {
        font-size: 0.8em;
    }

    /* nav {
        height: 50px;
    }

    .burger-menu {
        height: 50px;
    } */

    #nav-items {
        top: 105px;
        height: 83% !important;
    }

    .icons-left > div {
        margin-left: 0.1rem;
    }

    .buttons-box a {
        padding: 0.3rem 2rem;
        font-size: 0.6rem;
    }

    .box > div {
        margin-bottom: 1rem;
    }

    .box > div > div:first-child {
        font-size: 0.8em;
    }
    
    .box-text {
        font-size: 0.6em;
    }

    .box > div > div:first-child {
        margin-bottom: 0;
    }
}

@media (max-width : 380px) {

    #wp div:first-child {
        font-size: 1.2rem !important;
    }

    #wp div:last-child {
        display: none;
    }

    .box-text {
        width: 80%;
        font-size: 0.6em;
    }
}