.outher {
    margin: 50px auto;
    width: 306px;
    height: 156px;
    background:url(../../../Episode1/images/space.jpeg);
    background-size: cover;
    position: relative;
}

.in {
    z-index: -1;
    position: absolute;
    background-color: red;
    width: 75px;
    height: 75px;
}

#bottom {
    opacity: 0.5;
    right: -10px;
    bottom: -10px;
}

#upper {
    top: -10px;
    left: -10px;
}