@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Sniglet&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* EDİT */

summary i {
    color: gray;
    margin-left: 0.5rem;
}

/* Header-Nav */

.bg {
    background: #DFEBF3;
}

header {
    width: 100%;
}

nav {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#nav-items {
    z-index: 9999;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#nav-items div {
    margin-left: 2rem;
}

#nav-items div:last-child {
    background: red;
    border-radius: 15px;
    height: 49px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(228,65,35,1) 0%, rgba(242,145,15,1) 100%);
}

#nav-items div:last-child a {
    padding: 0 1rem;
    font-weight: normal;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}

#nav-items div a:not(#nav-items div:last-child a):after {
    content: '';
    display: block;
    width: 100%;
    opacity: 0;
    height: 3px;
    background: blue;
    transition: opacity .2s;
}

#nav-items div a:not(#nav-items div:last-child a):hover::after {
    opacity: 1;
}

.burger-menu {
    display: none;
}

.btn-burger {
    width: 50px;
    height: 6px;
    background: gray;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(244, 244, 244, .2);
    transition: all .5s ease-in-out;
}

.btn-burger::before,
.btn-burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: gray;
    border-radius: 5px;
    box-shadow: 0 2px 5px argba(244, 244, 244, .2);
    transition: all .5s ease-in-out;
}

.btn-burger::before {
    transform: translateY(-16px);
}

.btn-burger::after {
    transform: translateY(16px);
}

/* Section-Upper */

#section-upper {
    padding: 3rem 0;
}

.top-section-upper {
    display: flex;
    align-items: center;
    color: #15324B;
    flex-wrap: nowrap;
}

.top-section-upper > div:first-child > div:first-child {
    margin-bottom: 2rem;
}

.top-section-upper > div:first-child > div:first-child > div:first-child  {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.top-section-upper > div:first-child > div:first-child > div:last-child  {
    font-size: 0.8em;
}

.top-section-upper div:first-child div:last-child p {
    font-size: 0.8em;
    line-height: 2em;
    opacity: 0.8;
}

.bottom-section-upper {
    padding: 2rem 0 5rem 0;
    width: 100%;
}

.bottom-section-upper > div {
    border-radius: 15px;
    height: 120px;
    background: #fff;
    padding-bottom: 1.5rem;
}

form > div {
    display: flex;
}

#mobile-picture {
    display: none;
}

form {
    height: 100%;
}

form > div {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
}

form > div > div div{
    margin: 0;
}

form div div:first-child {
    position: relative;
}

#input-div {
    position: relative;
}

form >  div > div:first-child > div:last-child > div:last-child {
    color: #fff;
    background: #2691FB;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.8em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    /* top: 35px; */
    width: 35px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}

form > div > div > div:first-child:not(#bottom-section-upper-button) {
    font-size: 0.8em;
    margin-bottom: 0.5rem;
}

#input-plaka {
    padding-left: 4rem;
}

#bottom-section-upper-button {
    background: linear-gradient(90deg, rgba(228,65,35,1) 0%, rgba(242,145,15,1) 100%);
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    font-size: 1.8rem;
    color: #fff;
    padding: 0 1.5rem;
    cursor: pointer;
}

/* Section-Konut*/

.bg-konut {
    background: #fff
}

.bg-konut .container > div {
    width: 100%;
    height: auto;
    padding: 6rem 0;
}

.bg-konut .container > div > div div {
    font-size: 1.5em;
    color: #15324B;
}

.bg-konut .container > div > div div:last-child h2 {
    font-weight: normal;
}

.bg-konut .container > div > div:last-child {
    margin-top: 4rem;
    font-size: 0.8em;
    line-height: 2em;
    opacity: 0.8;
}

/* Section Paket */

.bg-paket {
    background: url(../images/Group\ 6203.png)
}

.bg-paket > div {
    padding: 5rem 0;
}

#baslik-paket {
    margin-bottom: 2rem;
} 

.bg-paket .container > div > div > div:first-child > div:first-child h2 {
    color: #15324B;
}

.bg-paket .container > div > div:first-child > div:first-child {
    font-size: 1.5em;
}

.bg-paket .container > div > div > div:first-child > div:last-child h2 {
    font-weight: normal;
}

.bg-paket .container p {
    font-size: 0.8em;
    line-height: 2em;
    opacity: 0.8;
}

.bg-paket .container > div > div:last-child {
    flex-wrap: nowrap;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.bg-paket .container > div > div:last-child > div:first-child {
    flex-wrap: nowrap;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.bg-paket .container > div > div:last-child > div:last-child {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bg-paket .container > div > div:last-child > div:last-child p {
    padding-left: 0.5rem;
}

#text-flex-icon div div {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}

#text-flex-icon div div div {
    min-width: 5px;
    min-height: 46px;
    max-width: 5px;
    max-height: 46px;
    background: #159BF5;
    margin-left: 0.5rem;
    box-shadow: 0 5px 20px #159BF5;
}

#text-flex-icon div:last-child div div {
    min-width: 5px;
    min-height: 46px;
    max-width: 5px;
    max-height: 46px;
    background: #F2910F;
    box-shadow: 0 5px 20px #F2910F;
}

/* Section-Teminat */

.bg-teminat {
    background: #FFFFFF;
}

.bg-teminat .container > div {
    padding: 5rem 0rem;
}

.bg-teminat .container div.text-center {
    margin-bottom: 4rem;
}

.bg-teminat .container div div:first-child div{
    font-size: 1.5em;
}

.bg-teminat .container div div:first-child div:first-child{
    color: #15324B;
}

.bg-teminat .container div div:first-child div:last-child h2{
    font-weight: normal;
}

.icons-teminat {
    display: flex;
    flex-flow: wrap;
}

.icons-teminat div {
    flex: 22%;
    max-width: 22%;
    display: flex;
    margin: 3rem 1.03rem;
    align-items: center;
    flex-flow: nowrap;
}

.icons-teminat div i {
    font-size: 2.5rem;
    color: #159bf5;
    text-align: center;
    min-width: 60px;
}

.icons-teminat div p {
    flex-wrap: nowrap;
    margin-left: 0.5rem;
}

#buttons-teminat {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons-teminat div:last-child {
    margin-top: 2rem;
}

#buttons-teminat div a:hover {
    transition: background 0.5s;
    background: #AEB0B1;
}

#buttons-teminat div {
    border: 1px solid #C5CED6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}

#buttons-teminat div a {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58px;
    background: #fff;
    border-radius: 10px;
}

/* Section-ASİSTANS */

.bg-asistans {
    background: #DFEBF3;
}

.bg-asistans .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem;
}

.bg-asistans .container > div > div:not(.bg-asistans .container > div > div:last-child) {
    margin-bottom: 2rem;
}

.bg-asistans .container div div div {
    font-size: 1.5em;
}

.bg-asistans .container div div div:first-child h2 {
    color: #15324B;
}

.bg-asistans .container div div div:last-child h2 {
    font-weight: normal;
}

.bg-asistans .container > div > div:last-child {
    width: 15%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(228,65,35,1) 0%, rgba(242,145,15,1) 100%);
}

.bg-asistans .container > div > div:last-child a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
}

/* section-sartlar */

.bg-sartlar {
    background: #FFFFFF;
}

.bg-sartlar .container > div {
    padding: 5rem 0;
    width: 100%;
}

.bg-sartlar .container > div > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 2rem;
}

.bg-sartlar .container > div > div:first-child div:first-child {
    color: #15324B;
    margin-right: 1rem;
}

.bg-sartlar .container > div > div:first-child div:last-child h2 {
    font-weight: normal;
}

.bg-sartlar ul li::before {
  content: "\2022";
  color: #EB7D11;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  font-size: 2rem;
  margin-left: -0.2em;
}

ul li:last-child::before {
    font-size: 0;
}

.bg-sartlar .container > div > div:last-child {
    margin-top: 2rem;
}

.bg-sartlar .container > div > div:last-child ul {
    display: flex;
    flex-flow: wrap
}

.bg-sartlar .container > div > div:last-child li {
    flex: 30%;
    max-width: 30%;
    display: flex;
    margin:0.3rem 1rem;
    align-items: center;
    flex-flow: nowrap;
}

@media (max-width : 1440px) {
    .icons-teminat div {
        margin: 3rem 0.5rem;
    }

    .bg-sartlar .container > div {
        padding: 5rem 1rem;
    }
}

/* Section-Sorular */

.bg-sorular {
    background: #DFEBF3;
}

.bg-sorular .container > div {
    display: flex;
    padding: 5rem 0;
    justify-content: space-between;
}

.bg-sorular .container > div > div:last-child {
    width: 45%;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}

.bg-sorular .container > div > div:first-child {
    width: 45%;
}

.bg-sorular .container > div > div:first-child > div:first-child {
    color: #15324B;
}

.bg-sorular .container > div > div:first-child > div:first-child {
    margin-bottom: 1rem;
    font-size: 1.5em;
}

.bg-sorular .container > div div:first-child div:last-child h2 {
    font-weight: normal;
}

#icons-sorular div {
    margin-top: 1rem;
    margin-right: 1rem;
}

#icons-sorular div div:first-child {
    background: #FFFFFF;
    width: 63px;
    height: 63px;
    box-shadow: rgba(31, 124, 153, 0.25) 0px 5px 15px;

    border-radius: 10px;
}

#icons-sorular div div:first-child a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#icons-sorular div:first-child div:first-child a i {
    color: #159BF5;
}

#icons-sorular div:last-child div:first-child a i {
    color: #F2910F;
}

.bg-sorular .container > div div:last-child div div:first-child{
    font-size: 2rem;
}

details > div > div:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

details summary {
    opacity: 0.6;
}

.details-h5 {
    width: 80%;
}

details div div:last-child p {
    margin-top: 1rem;
    font-size: 0.8em;
    line-height: 2em;
    opacity: 0.8;
}

.bg-sorular .container > div div:last-child div {
    display: flex;
    align-items: center;
}

details > div div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

details div div:first-child div h5 {
    font-size: 0.5em;
}

details div div:first-child div {
    font-size: 0.5em;
}

details div div:first-child h5 {
    color: #159BF5;
}

details > div {
    background: #fff;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 10px;
}

/* Section-Haberler */

.container-haberler {
    padding: 0 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.container-haberler {
    padding: 0 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.container-haberler > div {
    padding: 5rem 0;
}

.container-haberler > div > div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #15324B;
    font-size: 1.5em;
}

.container-haberler > div > div:first-child h3 {
    font-weight: bold;
}

.box {
    height: auto !important;
    margin: 1rem;
    padding: 1rem;
    display: flex !important;
    align-items: center;
}

.draggable {
    padding: 1rem;
}

.box div:first-child img {
    width: 100%;
    border-radius: 15px;
}

.box > div:first-child {
    width: 35%;
    position: relative;
}

.box > div:first-child > div:last-child {
    position: absolute;
    border-radius: 5px;
    top: -12px;
    left: 10px;
    padding: 0.4rem;
    width: 60px;
    background: #159BF5;
    color: #fff;
}

.box > div:last-child {
    width: 62%;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.box > div:last-child > div:last-child {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
}

.box > div:last-child > div:last-child a {
    color: #159BF5;
}

.box > div:last-child div:last-child div:last-child {
    margin-left: 0.5rem;
}

.slick-dots li button:before {
    border: 2px solid gray;
    border-radius: 100%;
    color: white !important;
}

.slick-dots li.slick-active button:before {
    color: gray !important;
    background: gray;
}

/* Footer */

.bg-footer {
    background: #F2F7FA;
}

.bg-footer .container > div {
    padding: 3rem 0;
}

.bg-footer .container > div > div:first-child {
    display: flex;
    justify-content: space-between;
}

.bg-footer .container > div > div:first-child > div {
    display: flex;
    justify-content: space-between;
}

.bg-footer .container > div > div:first-child > div {
    max-width: 100%;
    width: 55%;
}

.footer-left > div > div:first-child > div > div:last-child {
    margin-right: 3rem;
}

.text-footer-baslik {
    font-weight: bold;
    margin-bottom: 1rem;
}

#boxs-footer {
    max-width: 45%;
}

#box-footer > div {
    width: 100%;
}

.box-footer > div:first-child {
    width: 30%;
    margin-right: 1rem;
}

.box-footer {
    width: 100%;
    display: flex;
    align-items: center;
}

.box-footer > div:last-child {
    width: 65%;
}

.box-footer > div:first-child img {
    width: 100%;
    border-radius: 15px;
}

.footer-left {
    font-size: 1em !important;
}

.box-footer > div:last-child > div:first-child {
    font-weight: bold;
}

#icons-footer {
    width: 100%;
    display: flex;
    padding: 1rem 0;
}

#icons-footer div {
    margin-right: 2rem;
    width: 39px;
    height: 39px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(60, 60, 60, 0.5);
}

#icons-footer div a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    opacity: 0.5;
}

.footer-kasko-box {
    width: 100%;
    background: #09317C;
    padding: 2rem 4rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.footer-kasko-box > div:first-child {
    color: #fff;
    width: 50%;
}

.footer-kasko-box > div:first-child h4 span {
    color: #159BF5;
}

.footer-kasko-box > div:first-child > div:first-child {
    margin-bottom: 0.5rem;
}

.footer-kasko-box > div:last-child {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-kasko-box > div:last-child div {
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(228,65,35,1) 0%, rgba(242,145,15,1) 100%);
    width: 50%;
    height: 66px;
}

.footer-kasko-box > div:last-child div a {
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 100%;  
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-last {
    background: #09317C;
    height: 50px;
}

.bg-last .container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: #fff;
}

.bg-last .container > div div p {
    font-size: 0.8em;
}

.bg-last .container > div:first-child {
    display: flex;
    align-items: center;
}

.footer-left {
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
    width: 55%;
}

.footer-left div.text-style {
    line-height: 3em;
}


.bg-footer .container > div > div:first-child > div > div:last-child {
    margin-right: 3rem
}

@media (max-width : 1200px) {
    .box > div:last-child > div:last-child {
        font-size: 0.8em;
    }

    .bg-footer .container > div > div:first-child > div > div {
        /* margin-right: 1.2rem; */
    }
}

@media (max-width : 992px) {

    form {
        height: auto;
    }

    header {
        height: 50px;
        width: 100%;
    }

    header > div {
        background: #DFEBF3;
        opacity: 1;
        width: 100%;
        z-index: 9999;
        position: fixed;
    }
/* 
    .container {
        max-width: 900px;
        margin: 0 auto;
    } */

    #nav-items {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background: #DFEBF3;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    #nav-items div:last-child {
        width: 50%;
    }

    #nav-items div {
        width: 100%;
        padding: 1rem 0;
        margin: 0;
        border-bottom: 1px solid gray;
    }

    #nav-items div:last-child a {
        justify-content: center;
    }

    #nav-items div:last-child {
        height: auto;
    }

    #nav-items div:last-child {
        border-bottom: 0;
        margin: 1rem 0;
    }

    #nav-items.active {
        left: 0;
        height: 100%;
    }

    .bottom-section-upper > div {
        height: auto;
    }

    .burger-menu {
        display: block;
        position: absolute;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .burger-menu.open .btn-burger {
        transform: translate(-50px);
        background: transparent;
        box-shadow: none;

    }

    .burger-menu.open .btn-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .burger-menu.open .btn-burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    #mobile-picture {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #mobile-picture img {
        width: 85%;
    }

    .top-section-upper {
        padding: 0 3rem;
    }

    .top-section-upper > div:last-child {
        display: none;
    }

    nav {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .bottom-section-upper > div {
        background: #DFEBF3;
    }

    form > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    form > div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    .bottom-section-upper {
        padding: 2rem 3rem;
    }

    form > div div:not(form > div > div:first-child) {
        width: 100%;
    }

    #bottom-section-upper-button {
        margin-top: 1rem;
        width: 100%;
    }

    form > div div:not(form > div > div > div:first-child) {
        margin-left: 0rem;
        width: 100%;
        margin-bottom: 0.2rem;
    }

    /* Section-Konut */

    .bg-konut .container > div {
        padding: 5rem 3rem;
    }

    /* Section Paket */

    .bg-paket .container > div > div:last-child {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #text-flex-icon div:first-child div {
        text-align: left;
    }

    #text-flex-icon div:first-child div div:last-child {
        order: -1;
        margin-right: 12px;
    }

    #text-flex-icon div div div {
        min-width: 5px;
        min-height: 46px;
        max-width: 5px;
        max-height: 46px;
    }
    
    #text-flex-icon div:last-child > div > div {
        min-width: 5px;
        min-height: 46px;
        max-width: 5px;
        max-height: 46px;
    }

    .bg-paket > div {
        padding: 5rem 3rem;
    }

    #paket-img {
        display: none;
    }

    #text-flex-icon > div > div {
        margin-top: 1rem;
        justify-content: center;

    }

    /* Section-Teminat */

    .bg-teminat .container > div {
        padding: 5rem 3rem;
    }

    .icons-teminat div i {
        margin-bottom: 1rem;
    }

    .icons-teminat div {
        align-items: Center;
        flex: 1 0 50%;
        max-width: 50%;
        flex-direction: column;
        margin: 15px 0 !important;
        text-align: center;
    }

    #buttons-teminat div a {
        font-size: 0.8em;
    }

    #buttons-teminat div {
        width: 50%;
    }

    /* Section-ASİSTANS */

    .bg-asistans .container > div {
        padding: 5rem 3rem;
    }

    .bg-asistans .container > div > div:last-child {
        width: 28%;
        height: 50px;
    }
    
    .bg-asistans .container > div > div:last-child a {
        font-size: 0.8em;
    }

    /* Section-Sartlar */

    .bg-sartlar .container > div > div:last-child li {
        flex: 40%;
        max-width: 50%;
        display: flex;
        margin: 1rem 1.2rem;
        align-items: center;
        flex-flow: nowrap;
    }

    .bg-sartlar .container > div {
        padding: 5rem 3rem;
    }

    .bg-sartlar .container > div > div:last-child ul {
        justify-content: center;
    }

    /* Section-Sorular*/

    .bg-sorular .container > div {
        padding: 5rem 3rem;
    }

    .bg-sorular .container > div {
        flex-direction: column;
        justify-content: center;
    }

    .bg-sorular .container > div > div:first-child {
        width: 100%;
    }

    .bg-sorular .container > div > div:last-child {
        width: 100%;
        margin-top: 2rem;
    }

    /* Section-Haberler */

    .box > div:last-child > div:last-child {
        font-size: 0.7em;
    }

    .box > div:last-child {
        font-size: 1.4em;
    }

    /* Footer */

    .bg-footer .container > div {
        padding: 2rem 3rem;
    }

    .bg-footer .container > div > div:first-child {
        justify-content: center;
    }

    .bg-footer .container > div > div:first-child > div {
        justify-content: space-between;
        width: 100%;
        font-size: 0.8em;
        flex-direction: column;
    }

    .bg-footer .container > div > div:first-child > div > div {
        margin: 0;
        /* display: flex;
        justify-content: center; */
    }

    #icons-footer {
        justify-content: space-between;
        height: 90px;
        align-items: center;
    }

    #icons-footer div {
        margin-right: 0;
    }

    .box-footer {
        justify-content: center;
        width: 60%;
    }

    @media (max-width : 630px) {
        .box-footer {
            justify-content: center;
            width: 80%;
        }
    }

    .bg-footer .container > div > div:first-child > div > div:last-child {
        margin: 0;
    }

    #boxs-footer {
        justify-content: center;
        max-width: 100%;
    }

    .footer-kasko-box {
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .footer-kasko-box > div:first-child {
        width: 100%;
    }

    .footer-kasko-box > div:first-child > div:first-child {
        display: flex;
    }

    .footer-kasko-box > div:first-child h4 span {
        margin-left: 0.3rem;
    }

    .footer-kasko-box > div:last-child {
        display: block;
    }

    .footer-kasko-box > div:last-child div a {
        font-size: 0.8em;
    }

    .footer-kasko-box > div:last-child div {
        margin-top: 1rem;
        width: 90%;
    }

    .footer-kasko-box > div:first-child > div:first-child {
        justify-content: flex-start;
    }

}

@media (max-width : 500px) {

    header {
        height: 60px;
    }
    
    .logo img {
        width: 8rem;
    }

    #input-plaka {
        padding-left: 3.2rem;
    }

    .top-section-upper > div > div > div h1 {
        font-size: 1em;
    }

    .top-section-upper > div > div > div h3 {
        font-size: 1em;
    }

    #bottom-section-upper-button {
        width: 40%;
    }

    .bottom-section-upper {
        padding: 2rem 1.5rem;
    }

    #section-upper {
        padding: 1rem 0;
    }

    .top-section-upper {
        padding: 0 1.5rem;
    }

    .bg-konut .container > div {
        padding: 4rem 1.5rem;
    }

    /* Section-Paket*/

    .bg-paket > div {
        padding: 5rem 1.5rem;
    }

    .bg-paket .container p {
        font-size: 0.6em;
    }

    .bg-paket .container > div > div > div:first-child > div:last-child h2 {
        font-size: 0.8em;
    }

    /* Section-Teminat */

    .bg-teminat .container > div {
        padding: 5rem 1.5rem;
        font-size: 0.8em;
    }

    .bg-teminat .container div div:first-child div:last-child h2{
        font-size: 1em;
    }

    .icons-teminat div i {
        font-size: 1.5rem;
    }

    #buttons-teminat div {
        width: 40%;
    }

    #buttons-teminat div a {
        font-size: 1em;
    }

    /* Section-ASİSTANS */

    .bg-asistans .container > div {
        padding: 5rem 1.5rem;
    }

    .bg-asistans .container > div > div:last-child {
        width: 40%;
        height: 50px;
    }
    
    .bg-asistans .container > div > div:last-child a {
        font-size: 0.6em;
    }

    .bg-asistans .container > div > div:not(.bg-asistans .container > div > div:last-child) {
        font-size: 0.8em;
    }

    /* Section-Sartlar */

    .bg-sartlar .container > div {
        padding: 5rem 1.5rem;
    }

    .bg-sartlar .container > div > div:last-child ul {
        padding: 1rem;
    }

    .bg-sartlar .container > div > div:last-child {
        margin-top: 1rem;
    }

    .bg-sartlar .container > div > div:last-child li {
        font-size: 0.6em;
    }

    .bg-sartlar .container > div > div:last-child li {
        flex: 100%;
        display: flex;
        margin: 1rem 1.2rem;
        align-items: center;
        flex-flow: nowrap;
    }

    .bg-sartlar ul li::before {
        width: 0.5em;
        margin-right: 1rem
    }

    .bg-sartlar .container > div > div:last-child ul li div {
        text-align: left;
    }

    /* Section-Sorular */

    .bg-sorular .container > div > div:first-child > div:first-child {
        font-size: 1em;
    }

    #icons-sorular div p {
        font-size: 0.8em;
    }

    #icons-sorular div div:first-child {
        width: 43px;
        height: 43px;
    }

    #icons-sorular div div:first-child a {
        font-size: 1rem;
    }

    .bg-sorular .container > div {
        padding: 5rem 1.5rem;
    }

    /* Section-Haberler */

    .box > div:last-child {
        font-size: 0.8em;
    }

    .box > div:first-child > div:last-child {
        position: absolute;
        border-radius: 5px;
        top: -12px;
        left: 10px;
        padding: 0.2rem;
        width: 36px;
        background: #159BF5;
        color: #fff;
        font-size: 0.7em;
    }

    .container-haberler > div > div:first-child h3 {
        text-align: center;
    }

    /* Footer */

    .bg-footer .container > div > div:first-child > div > div:last-child {
        margin-right: 0rem;
    }

    .footer-kasko-box {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-kasko-box > div:last-child {
        width: 100%;
    }

    .bg-footer .container > div {
        padding: 2rem 1.5rem;
    }

    .footer-kasko-box > div:first-child {
        width: 100%;
        text-align: center;
    }

    .footer-kasko-box > div:last-child div {
        width: 100%;
    }

    .bg-footer .container > div > div:first-child > div > div {
        margin-bottom: 0.5rem;
    }
    
    .bg-footer .container > div > div:first-child > div {
        flex-direction: column;
        width: 100%;
        font-size: 0.8em;
    }

    .footer-left div.text-style {
        display: flex;
    }

    .footer-left div.text-style div {
        display: flex;
        align-items: center;
        line-height: 1rem !important;
    }

    .footer-left div.text-style div {
        flex: 50%;
        max-width: 50%;
        padding: 1rem 0;
    }

    .box-footer {
        flex-direction: row;
        width: 90%;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .box-footer > div:last-child {
        margin-left: 0.5rem;
        width: 65%;
    }

    .box-footer > div:first-child {
        margin: 0rem;
    }

    .bg-last .container > div img {
        width: 70%;
    }

    .bg-last .container > div > div:last-child {
        display: flex;
        justify-content: center;
    }

    .bg-last .container > div > div:first-child {
        display: flex;
        justify-content: center;
    }

    .bg-last .container > div {
        font-size: 0.8em;
    }

    .footer-kasko-box > div:first-child > div:first-child {
        justify-content: center;
    }

    

    


    @media (max-width : 397px) {
        .box {
            flex-direction: column;
            align-items: center;
        }

        .box > div:first-child {
            width: 50%;
            margin-bottom: 0.5rem;
        }

        .box > div:last-child {
            width: 100%;
        }

        /* Footer */

        .bg-last .container > div {
            height: 50px;
        }

        .bg-last .container > div > div:last-child {
            align-items: center;
            width: 20%;
        }
    
        .bg-last .container > div > div:first-child {
            align-items: center;
            width: 20%;
        }

        .box-footer > div:last-child {
            font-size: 0.7em;
            margin-left: 0.1rem;
        }

        .bg-last .container > div {
            font-size: 0.7em;
        }

        /* .footer-left div.text-style div {
            line-height: 1em;
        } */

        .burger-menu {
            left: 0;
        }

        .btn-burger {
            width: 30px;
            height: 6px;
            background: gray;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(244, 244, 244, .2);
            transition: all .5s ease-in-out;
        }
        
        .btn-burger::before,
        .btn-burger::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 6px;
            background: gray;
            border-radius: 5px;
            box-shadow: 0 2px 5px argba(244, 244, 244, .2);
            transition: all .5s ease-in-out;
        }

    }


}

@media (max-width : 318px) {
    
    form div p {
        font-size: 0.8em;
    }

    .img-paket img {
        width: 90%;
    }

    /* Section-Teminat */

    .bg-teminat .container > div {
        font-size: 0.6em;
    }

    .bg-teminat .container > div {
        padding: 5rem 1rem;
    }

    /* Section-sartlar */
/* 
    .bg-sartlar .container > div > div:last-child li {
        max-width: 30%;
        font-size: 0.5em;
    } */

    .bg-sartlar .container > div > div:last-child ul {padding: 0;}

    /* Section-Sorular */

    .bg-sorular .container > div {
        text-align: center;
    }

    /* Footer */

    #icons-footer div {
        margin-right: 0.2rem;
    }

    .bg-last .container > div {
        font-size: 0.6em;
    }

}