@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Sniglet&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Header-Nav */

.bg {
    background: #DFEBF3;
}

header {
    width: 100%;
}

nav {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#nav-items {
    font-weight: bold;
    display: flex;
    align-items: center;
}

#nav-items div {
    margin-left: 2rem;
}

#nav-items div:last-child {
    background: red;
    border-radius: 15px;
    height: 49px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(228,65,35,1) 0%, rgba(242,145,15,1) 100%);
}

#nav-items div:last-child a {
    padding: 0 1rem;
    font-weight: normal;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}

#nav-items div a:not(#nav-items div:last-child a):after {
    content: '';
    display: block;
    width: 100%;
    opacity: 0;
    height: 3px;
    background: blue;
    transition: opacity .2s;
}

#nav-items div a:not(#nav-items div:last-child a):hover::after {
    opacity: 1;
}

#burger-menu {
    font-size: 2.5rem;
    display: none;
}

/* Section-Upper */

#section-upper {
    padding: 3rem 0;
}

.top-section-upper {
    display: flex;
    align-items: center;
    color: #15324B;
    flex-wrap: nowrap;
}

.top-section-upper > div:first-child > div:first-child {
    margin-bottom: 2rem;
}

.top-section-upper > div:first-child > div:first-child > div:first-child  {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.top-section-upper > div:first-child > div:first-child > div:last-child  {
    font-size: 0.8em;
}

.top-section-upper div:first-child div:last-child p {
    font-size: 0.8em;
    line-height: 2em;
    opacity: 0.8;
}

.bottom-section-upper {
    padding: 2rem 0 5rem 0;
    width: 100%;
}

.bottom-section-upper > div {
    border-radius: 15px;
    height: 120px;
    background: #fff;
    padding-bottom: 1.5rem;
}

form > div {
    display: flex;
}

#mobile-picture {
    display: none;
}

form {
    height: 100%;
}

form > div {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
}

form > div > div div{
    margin: 0;
}

form div div:first-child {
    position: relative;
}

form >  div > div:first-child > div:last-child > div:last-child {
    color: #fff;
    background: #2691FB;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.8em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px; 
    top: 35px; 
    width: 35px;
    height: 30px;
}

form > div > div > div:first-child:not(#bottom-section-upper-button) {
    font-size: 0.8em;
    margin-bottom: 0.5rem;
}

#input-plaka {
    padding-left: 4rem;
}

#bottom-section-upper-button {
    background: linear-gradient(90deg, rgba(228,65,35,1) 0%, rgba(242,145,15,1) 100%);
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    font-size: 1.8rem;
    color: #fff;
    padding: 0 1.5rem;
    cursor: pointer;
}

/* Section-Konut*/

.bg-konut {
    background: #fff
}

.bg-konut .container > div {
    width: 100%;
    height: auto;
    padding: 6rem 0;
}

.bg-konut .container > div > div div {
    font-size: 1.5em;
    color: #15324B;
}

.bg-konut .container > div > div div:last-child h2 {
    font-weight: normal;
}

.bg-konut .container > div > div:last-child {
    margin-top: 4rem;
    font-size: 0.8em;
    line-height: 2em;
    opacity: 0.8;
}

/* Section Paket */

.bg-paket {
    background: url(../images/Group\ 6203.png)
}

.bg-paket > div {
    padding: 5rem 0;
}

#baslik-paket {
    margin-bottom: 2rem;
} 

.bg-paket .container > div > div > div:first-child > div:first-child h2 {
    color: #15324B;
}

.bg-paket .container > div > div:first-child > div:first-child {
    font-size: 1.5em;
}

.bg-paket .container > div > div > div:first-child > div:last-child h2 {
    font-weight: normal;
}

.bg-paket .container p {
    font-size: 0.8em;
    line-height: 2em;
    opacity: 0.8;
}

.bg-paket .container > div > div:last-child {
    flex-wrap: nowrap;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.bg-paket .container > div > div:last-child > div:first-child {
    flex-wrap: nowrap;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-around;
}

.bg-paket .container > div > div:last-child > div:last-child {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bg-paket .container > div > div:last-child > div:last-child p {
    padding-left: 0.5rem;
}

#text-flex-icon div div {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}

#text-flex-icon div div div {
    min-width: 5px;
    min-height: 46px;
    max-width: 5px;
    max-height: 46px;
    background: #159BF5;
    margin-left: 0.5rem;
    box-shadow: 0 5px 20px #159BF5;
}

#text-flex-icon div:last-child div div {
    min-width: 5px;
    min-height: 46px;
    max-width: 5px;
    max-height: 46px;
    background: #F2910F;
    box-shadow: 0 5px 20px #F2910F;
}

/* Section-Teminat */

.bg-teminat {
    background: #FFFFFF;
}

.bg-teminat .container > div {
    padding: 5rem 0rem;
}

.bg-teminat .container div.text-center {
    margin-bottom: 4rem;
}

.bg-teminat .container div div:first-child div{
    font-size: 1.5em;
}

.bg-teminat .container div div:first-child div:first-child{
    color: #15324B;
}

.bg-teminat .container div div:first-child div:last-child h2{
    font-weight: normal;
}

.icons-teminat {
    display: flex;
    flex-flow: wrap;
}

.icons-teminat div {
    flex: 22%;
    max-width: 22%;
    display: flex;
    margin: 3rem 1rem;
    align-items: center;
    flex-flow: nowrap;
}

.icons-teminat div i {
    font-size: 2.5rem;
    color: #159bf5;
    text-align: center;
    min-width: 60px;
}

.icons-teminat div p {
    flex-wrap: nowrap;
    margin-left: 0.5rem;
}

#buttons-teminat {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons-teminat div:last-child {
    margin-top: 2rem;
}

#buttons-teminat div:last-child a {
    background: #AEB0B1;
}

#buttons-teminat div {
    border: 1px solid #C5CED6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}

#buttons-teminat div a {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58px;
    background: #fff;
    border-radius: 10px;
}

/* Section-ASİSTANS */

.bg-asistans {
    background: #DFEBF3;
}

.bg-asistans .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem;
}

.bg-asistans .container > div > div:not(.bg-asistans .container > div > div:last-child) {
    margin-bottom: 2rem;
}

.bg-asistans .container div div div {
    font-size: 1.5em;
}

.bg-asistans .container div div div:first-child h2 {
    color: #15324B;
}

.bg-asistans .container div div div:last-child h2 {
    font-weight: normal;
}

.bg-asistans .container > div > div:last-child {
    width: 15%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(228,65,35,1) 0%, rgba(242,145,15,1) 100%);
}

.bg-asistans .container > div > div:last-child a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
}

/* section-sartlar */

.bg-sartlar {
    background: #FFFFFF;
}

.bg-sartlar .container > div {
    padding: 5rem 0;
    width: 100%;
}

.bg-sartlar .container > div > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 2rem;
}

.bg-sartlar .container > div > div:first-child div:first-child {
    color: #15324B;
    margin-right: 1rem;
}

.bg-sartlar .container > div > div:first-child div:last-child h2 {
    font-weight: normal;
}

ul li::before {
  content: "\2022";
  color: #EB7D11;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  font-size: 2rem;
  margin-left: -1em;
}

.bg-sartlar .container > div > div:last-child {
    margin-top: 2rem;
}

.bg-sartlar .container > div > div:last-child ul {
    display: flex;
    flex-flow: wrap
}

.bg-sartlar .container > div > div:last-child li {
    flex: 30%;
    max-width: 30%;
    display: flex;
    margin: 1rem 1rem;
    align-items: center;
    flex-flow: nowrap;
}

@media (max-width : 1440px) {
    .icons-teminat div {
        margin: 3rem 0.5rem;
    }

    .bg-sartlar .container > div {
        padding: 5rem 1rem;
    }
}


@media (max-width : 992px) {

    form {
        height: auto;
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
    }

    .bottom-section-upper > div {
        height: auto;
    }

    #burger-menu {
        display: block;
        position: absolute;
        left: 10px;
    }

    #mobile-picture {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #mobile-picture img {
        width: 85%;
    }

    .top-section-upper {
        padding: 0 3rem;
    }

    .top-section-upper > div:last-child {
        display: none;
    }

    #nav-items {
        display: none;
    }

    nav {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .bottom-section-upper > div {
        background: #DFEBF3;
    }

    form > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    form > div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    .bottom-section-upper {
        padding: 5rem 3rem;
    }

    form > div div:not(form > div > div:first-child) {
        width: 100%;
    }

    #bottom-section-upper-button {
        margin-top: 1rem;
        width: 100%;
    }

    form > div div:not(form > div > div > div:first-child) {
        margin-left: 0rem;
        width: 100%;
    }

    /* Section-Konut */

    .bg-konut .container > div {
        padding: 5rem 3rem;
    }

    /* Section Paket */

    .bg-paket .container > div > div:last-child {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #text-flex-icon div div div {
        min-width: 5px;
        min-height: 46px;
        max-width: 5px;
        max-height: 46px;
    }
    
    #text-flex-icon div:last-child > div > div {
        min-width: 5px;
        min-height: 46px;
        max-width: 5px;
        max-height: 46px;
    }

    .bg-paket > div {
        padding: 5rem 3rem;
    }

    #text-flex-icon > div > div {
        margin-top: 1rem;
        justify-content: center;

    }

    /* Section-Teminat */

    .bg-teminat .container > div {
        padding: 5rem 3rem;
    }

    .icons-teminat div i {
        margin-bottom: 1rem;
    }

    .icons-teminat div {
        align-items: Center;
        flex: 1 0 50%;
        max-width: 50%;
        flex-direction: column;
        margin: 15px 0 !important;
        text-align: center;
    }

    #buttons-teminat div a {
        font-size: 0.8em;
    }

    #buttons-teminat div {
        width: 50%;
    }

    /* Section-ASİSTANS */

    .bg-asistans .container > div {
        padding: 5rem 3rem;
    }

    .bg-asistans .container > div > div:last-child {
        width: 28%;
        height: 50px;
    }
    
    .bg-asistans .container > div > div:last-child a {
        font-size: 0.8em;
    }

    /* Section-Sartlar */

    .bg-sartlar .container > div > div:last-child li {
        flex: 50%;
        max-width: 50%;
        display: flex;
        margin: 1rem 1.2rem;
        align-items: center;
        flex-flow: nowrap;
    }

    .bg-sartlar .container > div {
        padding: 5rem 3rem;
    }

    .bg-sartlar .container > div > div:last-child ul {
        justify-content: center;
    }

}

@media (max-width : 500px) {
    .logo img {
        width: 8rem;
    }

    #input-plaka {
        padding-left: 3.2rem;
    }

    .top-section-upper > div > div > div h1 {
        font-size: 1em;
    }

    .top-section-upper > div > div > div h3 {
        font-size: 1em;
    }

    #bottom-section-upper-button {
        width: 40%;
    }

    .bottom-section-upper {
        padding: 5rem 1.5rem;
    }

    .top-section-upper {
        padding: 0 1.5rem;
    }

    .bg-konut .container > div {
        padding: 4rem 1.5rem;
    }

    /* Section-Paket*/

    .bg-paket > div {
        padding: 5rem 1.5rem;
    }

    .bg-paket .container p {
        font-size: 0.6em;
    }

    .bg-paket .container > div > div > div:first-child > div:last-child h2 {
        font-size: 0.8em;
    }

    /* Section-Teminat */

    .bg-teminat .container > div {
        padding: 5rem 1.5rem;
        font-size: 0.8em;
    }

    .bg-teminat .container div div:first-child div:last-child h2{
        font-size: 1em;
    }

    .icons-teminat div i {
        font-size: 1.5rem;
    }

    #buttons-teminat div {
        width: 40%;
    }

    #buttons-teminat div a {
        font-size: 1em;
    }

    /* Section-ASİSTANS */

    .bg-asistans .container > div {
        padding: 5rem 1.5rem;
    }

    .bg-asistans .container > div > div:last-child {
        width: 40%;
        height: 50px;
    }
    
    .bg-asistans .container > div > div:last-child a {
        font-size: 0.6em;
    }

    .bg-asistans .container > div > div:not(.bg-asistans .container > div > div:last-child) {
        font-size: 0.8em;
    }

    /* Section-Sartlar */

    .bg-sartlar .container > div {
        padding: 5rem 1.5rem;
    }

    .bg-sartlar .container > div > div:last-child ul {
        padding: 1rem;
    }

    .bg-sartlar .container > div > div:last-child li {
        font-size: 0.8em;
    }

    .bg-sartlar .container > div > div:last-child li {
        flex: 35%;
        max-width: 35%;
        display: flex;
        margin: 1rem 1.2rem;
        align-items: center;
        flex-flow: nowrap;
    }


}

@media (max-width : 318px) {
    
    form div p {
        font-size: 0.8em;
    }

    form >  div > div:first-child > div:last-child > div:last-child {
        top: 32px !important;
    }

    .img-paket img {
        width: 90%;
    }

    /* Section-Teminat */

    .bg-teminat .container > div {
        font-size: 0.6em;
    }

    .bg-teminat .container > div {
        padding: 5rem 1rem;
    }

}