#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

@media (max-width:377px) {
    #navbar {
        font-size: 0.7em;
    }

    #navbar h1 {
        margin-top: 0.3rem;
    }
}

#training .items {
    flex-direction: column;
}

#training .items .item {
    width: 100%;
}

.courses .course {
    flex-direction: column;
}